<div class="header-container">
  <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
    <nb-icon icon="menu-2-outline"></nb-icon>
  </a>
  <div class="logo-container">
    
    <img class="logo" src="assets/Agri-bank_logo.png" style="
    width: 37%;
">
    <a class="logo" href="#" (click)="navigateHome()"> {{"login.header"|translate}}
      <span style="color: #28a745;"> {{"logo"|translate}}</span></a>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <nb-actions size="small">

    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> -->
    <nb-action class="user-action" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.unique_name"
               [picture]="user?.picture"
               nbContextMenuTag="user-info-menu">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
