@font-face {
    font-family: 'iran-sans';
    font-weight: normal;
    src: url("assets/Fonts/iran-sans.woff") format("woff");
}

@font-face {
    font-family: 'iran-sansbold';
    font-weight: bold;
    src: url("assets/Fonts/iran-sans-bold.woff") format("woff");
}